.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  z-index: 100;
  position: absolute;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 0.35em solid var(--title-color);
  border-right-color: transparent;
}
