.container-md {
  margin: 90px auto;
  padding: 2%;
  max-width: 1100px;
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#link {
  background-color: transparent;
  border: 0;
  display: inline-block;
  padding-top: 10px;
}

#link:hover {
  color: rgb(86, 86, 223);
  cursor: pointer;
  text-decoration: underline;
}

.list-group-item {
  background-color: transparent;
}

div .form-group .form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

select option,
.input-group-text,
.custom-select,
.form-control {
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  color: #6c6c80;
}

.leaflet-container {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 24px;
}

#formSpan {
  font-size: 12px;
  padding-left: 5px;
}

legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-block: 20px;
  padding-top: 6%;
  border-bottom: 1px solid #d3e2e5;
}

fieldset {
  min-inline-size: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input::placeholder {
  color: #a0a0b2;
}

.btn-primary:disabled,
.btn-primary {
  width: 260px;
  height: 56px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
  display: inline-block;

  text-align: center;
}

.btn-primary:hover {
  background: #4ab3acff;
}
div .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .btn-primary {
    width: 100%;
  }
}
