.list-group-horizontal {
  justify-content: center;
}

.list-group-item {
  border: 0;
}

#detail .card {
  width: 18rem;
}

#contact-button .wapp-button {
  background-color: #25d366;
  width: 22vw;
}

#contact-button .wapp-button:hover {
  background-color: #128c7e;
}

#contact-button .email-button {
  background-color: #ea4335;
  width: 22vw;
}

#contact-button .email-button:hover {
  background-color: #bb001b;
}

.google-maps-btn.btn.btn-primary {
  height: auto;
  width: 200px;
  margin: 0;

  justify-content: space-between;
  display: flex;
  background-color: #4a89f3;
}

.google-maps-btn.btn.btn-primary:hover {
  background-color: #dd4b3e;
}

.leaflet-container {
  z-index: 0;
}

#detail .row {
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  #contact-button .col-md-auto {
    width: 100%;
  }

  #detail .container-md {
    padding-block: 75px;
    padding-inline: 5px;
  }

  #detail .list-group-item {
    padding: 0.6rem;
  }

  #detail .card {
    width: auto;
  }

  #contact-button .email-button,
  #contact-button .wapp-button {
    width: 100%;
  }
}
