#page-home {
  height: 92.3vh;
  width: 100vw;

  background: url('../../assets/home-background.svg') no-repeat 50vw bottom;
  background-size: contain;
}

#page-home .container-lg {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#page-home .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#page-home a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;

  transition: background-color 0.2s;
}

#page-home a span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-home a span svg {
  color: #fff;
  width: 20px;
  height: 20px;
}

#page-home a strong {
  flex: 1;
  text-align: center;
  color: #fff;
}

#page-home a:hover {
  background: #4ab3ac;
  text-decoration: none;
}

#page-home p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 38px;
  color: ghostwhite;
}

#page-home .content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  #page-home {
    background: none;
  }

  #page-home .container-lg {
    align-items: center;
    margin-top: 60px;
    padding: 30px 5px;
  }

  #page-home p {
    font-size: 18px;
  }
}
