#cards .row {
  justify-content: center;
}

#cards .card {
  width: 18rem;
  margin: 20px;
}

#cards .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

#edit-button {
  background-color: #01959acb;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-button:hover {
  background-color: #01959a;
}

#delete-button {
  background-color: #db1f48b4;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-button:hover {
  background-color: #db1f48;
}

@media (max-width: 800px) {
  #cards {
    width: 100%;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }
}
