.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  padding: 74.7px 0 0;

  background-color: var(--secondary-color);
}

.sidebar p {
  color: ghostwhite;
  font-size: 14px;
}

#sidebar-wrapper .sidebar-container {
  background-color: var(--text-color);
  width: 50%;
  height: 50%;
  min-width: 95%;
  min-height: 95%;
  border-radius: 10px;

  padding-top: 20px;
  margin: 2%;
}

.sidebar label {
  color: ghostwhite;
}

.sidebar .sidebar-container {
  padding: 20px;
}

.sidebar .col-md-7 {
  color: ghostwhite;
}

@media (max-width: 800px) {
  #sidebar-wrapper {
    display: none;
  }

  #page-content-wrapper {
    flex: 1;
    max-width: 100%;
  }
}
