@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
  --primary-color: #f87762;
  --title-color: #f66763;
  --text-color: #343a40;
  --secondary-color: #4e596f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button,
textarea {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu, sans-serif;
}
