@import '~react-image-gallery/styles/css/image-gallery.css';

:root {
  --primary-color: #4abdac;
  --title-color: #fc4a1a;
  --text-color: #5b4823ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button,
textarea {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu, sans-serif;
}
